---
layout: blog
title: Certifications
permalink: /certificates/
---
    <link href="{{ "/static/slick/slick.css" | prepend: site.baseurl }}" rel="stylesheet">
    <link href="{{ "/static/slick/slick-theme.css" | prepend: site.baseurl }}" rel="stylesheet">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="navy-line"></div>
        <h1>My Certifications</h1>
        <h3>Can be varify on respected sites</h3>
    </div>
    <div align="center">
    {% for image in site.static_files %}
        {% if image.path contains 'img/certs' %}
            <img src="{{ site.baseurl }}{{ image.path }}" alt="image"  style="width:40%"/>
        {% endif %}
    {% endfor %}
    </div>
</div>
